@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital,wght@1,400&display=swap');

:root {
    --background-color: #f8f7f7;
    --header-bg-color: #fff;
    --primary-color: #447bbb;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: var(--header-bg-color);
    color: var(--primary-color);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 0 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #2a5d9f;
}

.split-container {
    display: flex;
    margin-top: 80px;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.right-section {
    flex: 2;
    padding: 20px;
}

.highlighted-name {
    font-family: 'DM Serif Display', serif;
    font-size: 1.8em;
    color: var(--primary-color);
}

img {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 15px;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

h2 {
    color: var(--primary-color);
    font-weight: bold;
}

p {
    line-height: 1.6;
}

/* Add additional styles for responsiveness */
