@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital,wght@1,400&display=swap');

:root {
    --background-color: #f8f7f7;
    --header-bg-color: #fff;
    --primary-color: #447bbb;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: var(--header-bg-color);
    color: var(--primary-color);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 0 20px;
    transition: all 0.3s ease;
}

.split-container {
    display: flex;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    padding-left: 55px;
}

.right-section {
    flex: 1;
    overflow-y: auto;
    padding: 0 20px;
    margin-left: 50%;
}

.highlighted-name {
    font-family: 'DM Serif Display', serif;
    font-size: 1.6em;
    color: var(--primary-color);
}

img {
    max-width: 220px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

/* Add more styles for specific sections as needed */
